* {
    margin: 0;
    padding: 0;
}

body {
    display: grid;
    place-items: center;
    overflow-x: hidden;
}

h1 {
    margin: 10px;
}

ul {
    display: grid;
    grid-template-columns: 1fr;
}

.divv {
    display: flex;
}

li {
    list-style: none;
    display: grid;
    place-items: center;
    font-size: 0px;
}

.box {
    margin: .5px;
    width: 75px;
    height: 75px;
}

